
.buy-container {
  width: 100%;
  /*height: 100%;*/
  height: 80vh;
}

  .buy-title-price {
    display: flex;
    width: 100%;
    min-width: 100%;
  }

  .buy-title{
    min-width: 50%;
    float: left
  }

  .buy-price{
    min-width: 50%;
    text-align: right;
  }

  .buy-carousel {
      padding-top: 20px;
     /* height: 70%;*/
     height: 53vh;
      width: 100%;
  }


  .buy-catg-ships {
    display: flex;
    width: 100%;
    min-width: 100%;
    font-size: 16px;

    padding-left: 15px;
    padding-right: 15px;
}

  .buy-catg {
    min-width: 50%;
    float: left
  }

  .buy-ships {
    min-width: 50%;
    text-align: right;
  }

  .buy-descr {
    font-size: 17px;
    padding-top: 30px;
    height: 12vh;
  }

  .buy-contact-butn {
      display: flex;
      padding-top: 70px;
  }

  .buy-contact-wrap {
        max-width: 70%;
        min-width: 70%;
  }

  .buy-contact-label {
      font-size: 19px;
      padding-right: 20px;
  }

  .buy-contact {
      width: 70%
  }

  .buy-butn-wrap {
    display: flex

  }
  
  .buy-butn  {
    background-color: #4188ff;
    color: white;
    padding: 8px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 0px;
  }

  .buy-butn:disabled  {
    opacity: 50%;
  }

  .buy-cancel-buton-wrap {
    padding-left: 20px;
  }

  .buy-cancel-butn  {
    background-color: grey;
    color: white;
    border: 2px solid grey;
    padding: 8px 50px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
  }