.iu2-btns-wrapper {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.iu2-btn-upload {
    padding-left: 15px;
}

.iu2-btn {
    height: 30px;
    background-color: #4188ff;
    color: white;
    border: 0px;
}

.iu2-btn:disabled {
    height: 30px;
    opacity: 0.5;
    background-color: #4188ff;
    color: white;
    border: 0px;
}
