.buy-background {
    position: absolute;
    width: 100%;
    height: 100%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    background-color: #ccc;
  
    z-index: 4;
  }
  
  .buy-non-background {
    position: fixed;
    left: 12%;
    right: 12%;
    top: 3%;
    bottom: 3%;
    border-radius: 4px;
    background-color: rgb(255, 255, 255);
  
    box-shadow: 0 7px 7px rgba(0, 0, 0, 0.5), 0 4px 4px rgba(0, 0, 0, 0.5);
  
    width: 1409px;
    height: 893px;

  }
  
  .buy-content {
    padding: 50px;

    padding-left:100px;
    padding-right:100px;

    /*width: 148vh;*/
    width: 100%;
    height: 90vh;
  }






  .buy2-background {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 30px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    z-index: 3;
  }
  
  .buy2-non-background {
    background-color: #fefefe;
    margin: auto;
    width: 76%;
    height: 93vh;
    /*height: 95%;*/

    border-radius: 7px;
    overflow: auto;

  }
  