.offers_popup_background {
    position: fixed;
    width: 100%;
    height: 100%;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 4;
  }
  
  .offers_popup {
    position: fixed;
    left: 25%;
    right: 25%;
    top: 10%;
    bottom: 10%;
    margin: auto;
    border-radius: 7px;
    background-color: rgb(255, 255, 255);
  }

  .offers_popup_content {
    
    padding: 10px;
    max-height: 100%;
    overflow: auto;
  }

  .offersTitle{
    margin-bottom: 15px;
  }

  .offers_items_wrapper {
    padding-left: 15%;
    padding-right: 15%;

    max-height: 100%;
    overflow: auto;
  }


  .offers_item {
    display: flex;
    width: 100%;
    height: 80px;
    border: 1px solid Black;
    margin-bottom: 10px;
  }

  .offers_img {
    width: 15%;
    height: auto;
  }

  .offer_data {
    padding: 5px;
    width: 30%;
  }

  .offer_first_line {
    display: flex;
  }

  .offer_first_tit {
    padding-right: 20px;
  }

  .offers_actions {
    display: flex;
    flex-direction: row-reverse;

    width: 55%;

    padding-top:20px;
    padding-bottom:20px;
    padding-left: 15px;
    padding-right: 15px;
  }

  .offers_btn_actions {
    background-color: grey;
    color: white;
    border: 2px solid grey;
    padding: 8px 50px;

    text-align: center;
    text-decoration: none;
    display: inline-block;

    font-size: 16px;
  }

  .offers_btns {
    font-size: 14px;
  
    background-color: grey;
    color: white;
    border: 2px solid grey;
  
    margin-right: 10px;
  }
  